<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
<section class="replace-slider-main border border-top-0 border-left-0 border-right-0 border-warning site-bg-1 py-4 text-center">
    <h3 class="font-weight-bold text-white">About Us</h3>
</section>
<!--{/block}-->
<!--{block name="main_content"}-->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10 col-sm-12">
                <div class="about-content text-justify">
                    <h2 class="text-center font-weight-bold"><!--{$Site.companyName}--></h2>
                    <p>Computerizing Birth registration system are carried out in almost all over theworld today mainly in the develop countries like America, Britain, China etc the fact that
                        the activities of the organization are done manually it then becomes necessary to state
                        the problem encountered in carrying out their daily operations such as number of babies
                        giving birth to and number of babies which are dead, also help on population statistics.
                        However, the geographical scope of this project will be Lagos and Ogun state. 
                    </p>
                    <p>The control and management of the data call for data base management system
                        (DBMS), which handle structured data that will store manual or card index or cabinet
                        containing file. The main objective of this study is to create database for birth and death
                        information, design an online application to ease the access to records, issue Birth and
                        Death Certificate online and save the stress of acquiring such certificate by the family or
                        guidance of the individual.
                    </p>
                    <p>Child-birth registration became an issue of utmost importance as a result of
                        difficulties encountered while obtaining accurate population statistics essential in
                        social services planning for any government and in ensuring that adequate resources
                        and budgets are made available to address the needs of the population. If a
                        government’s birth records are incorrect, it may not allocate adequate resources to
                        immunization programs, education budgets, or programs designed to combat
                        exploitation. The obstacles to child birth registration are difficulty in accessing civil
                        registry services, the cost of registering a birth, long distances to registration centres
                        and loss of registration certificate by the parent or child. Additionally, many parents do
                        not prioritize child-birth registration as they focus on coping with an array of other daily
                        challeng
                    </p>
                    <p>
                        The software application of computer based management system to help
                        improve the manual operation in the day to day activities of officers in hospital and
                        National Population Commission (NPC). The new system was designed using Microsoft
                        ASP.NET, PHP, MySQL and HTML programming language. This language was chosen
                        because of its wealth of class libraries and features for developing online based
                        applications.
                    </p>
                </div>
            </div>
            <div class="col-md-12 mt-5">
                <div class="row">
                    <div class="col-6">
                        <div class="about-content text-justify">
                            <h3><i class="fa fa-bullhorn"></i> VISION</h3>
                            <p>To create database for birth and death information, design an online application to ease the access to records, issue Birth and
                                Death Certificate online and save the stress of acquiring such certificate by the family or guidance of the individual.
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="about-content text-justify">
                            <h3><i class="fa fa-bullseye"></i> MISSION </h3>
                            <p>The sole mission is to put to an end the difficulties in registering child after given birth, and retrieval of birth certificate 
                                when damage or loss.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--{/block}-->