<!DOCTYPE html>
<!--{include file='declare.html'}-->
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title><!--{block name="site-title"}--><!--{$Site.companyName}--> - <!--{$sitePage|capitalize}--><!--{/block}--></title>
        <meta name="author" content="Hoffenheim Technologies">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="<!--{$sitePage|capitalize}-->">
    	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	    <meta content="<!--{$sitePage|capitalize}-->" name="keywords">
	    <meta name="robots" content="index, follow">
	    <!-- Favicons -->
    	<link href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/logo0.jpg" rel="icon">
    	<link href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/logo0.jpg" rel="apple-touch-icon">
        <!--{include file='styles.html'}-->
    </head>	
    <body class="body">
		<!--{block name="header"}-->
			<!--{include file='header.html'}-->
		<!--{/block}-->
		<!--{block name="content"}-->
			<!--{block name="main-slider"}-->
				<!--{include file='main-slider.html'}-->
			<!--{/block}-->
			<!--{block name="main-wrapper"}-->
			<main id="main wow fadeInUp slow">
			<!--{/block}-->
			<!--{block name="main_content"}-->
				<!--{block name="login"}-->
				<section class="row no-gutters justify-content-end bg-image-1">
					<div class="col-sm-6 float-left text-dark p-4" id="logn-frame">
						<div class="card p-5 mt-5">
							<h2 class="text-center py-4">Birth Registration Statistics</h2>
							<div id="complexPromo" class="carousel slide" data-ride="carousel">
							  <div class="carousel-inner">
							    <div class="carousel-item active">
							      <h4 class="pt-2 text-center">Total Registered: <span class="badge badge-success"><!--{$summary->birth_reg_all}--></span></h4>
							    </div>
							    <div class="carousel-item">
							      <h4 class="pt-2 text-center">Total Approve: <span class="badge badge-success"><!--{$summary->birth_reg_approved}--></span></h4>
							    </div>
							    <div class="carousel-item">
							      <h4 class="pt-2 text-center">Total Pending: <span class="badge badge-success"><!--{$summary->birth_reg_new}--></span></h4>
							    </div>
							  </div>
							  <a class="carousel-control-prev d-none" href="#complexPromo" role="button" data-slide="prev">
							    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
							    <span class="sr-only">Previous</span>
							  </a>
							  <a class="carousel-control-next d-none" href="#complexPromo" role="button" data-slide="next">
							    <span class="carousel-control-next-icon" aria-hidden="true"></span>
							    <span class="sr-only">Next</span>
							  </a>
							</div>
						</div>
					</div>
					<div class="card col-sm-5 my-5 float-right p-3" id="logn-frame">
	                    <form method="get" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/find-registration">
	                        <fieldset class="card p-2 mt-3">
	                            <legend class="text-center mb-4"><h3 class="font-weight-bold">Search for Detail</h3></legend>
	                            <div class="form-group text-justify mb-2">
	                                <label for="regId">Registration Id</label>
	                                <input type="text" id="regId" name="regId" placeholder="Enter Registration Id" class="form-control badge-pill" required="">
	                            </div>
	                            <div class="form-group text-center">
	                                <button class="btn btn-success btn-block badge-pill" type="submit">Find Certificate</button>
	                            </div>
	                            <div class="form-group text-center">
	                                <h6 class="font-weight-bold">OR</h6>    
	                            </div>
	                            <div class="form-group text-center">
	                                <a class="btn btn-link" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/register">Register a New Birth Record</a>
	                            </div>
	                        </fieldset>
	                    </form>
					</div>
				</section>
				<!--{/block}-->
			<!--{/block}-->
			<!--{block name="main-wrapper-base"}-->
			</main>
			<!--{/block}-->
		<!--{/block}-->
		<!--{block name="modal-file"}-->
			<!--{include file='modal-file.html'}-->
		<!--{/block}-->
		<!--{block name="general-message"}-->
			<!--{if !empty($fail)}-->
				<!--{$fail}-->
			<!--{/if}-->
		<!--{/block}-->
		<!--{block name="footer"}-->
			<!--========================== Footer ============================-->
		    <footer id="footer" class="footer-bg-img">
		   	<!--{block name="footer-top"}-->
		        <div class="footer-top">
		            <div class="container">
		                <div id="half-top" class="row justify-content-center">
		                    <div class="col-lg-3 col-md-4 footer-links">
		                        <h4>Smart Links</h4>
		                        <ul>
		                            <li><i class="ion-ios-arrow-right"></i> <a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/about">About</a></li>
		                            <li><i class="ion-ios-arrow-right"></i> <a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/faq">F.A.Q</a></li>
		                            <li><i class="ion-ios-arrow-right"></i> <a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/contact">Contact</a></li>
		                            <li><i class="ion-ios-arrow-right"></i> <a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/register">New Registration</a></li>
		                        </ul>
		                    </div>
		                    <div class="col-lg-4 col-md-3 footer-contact">
		                        <h4>Social Connect</h4>
		                        <div class="social-links">
		                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
		                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
		                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
		                            <a href="#" class="google-plus d-none"><i class="fa fa-youtube"></i></a>
		                        </div>
		                    </div>
		                    <div class="col-lg-5 col-md-5 footer-info">
		                    	<h4>Subscribe for our updates</h4>
		                        <p>Drop your email here...</p>
		                        <form action="" method="post">
		                            <input type="email" class="py-2 px-2 border-0" name="email"><input type="submit" class="site-bg-1 border-0 py-2 px-2 cursor-pointer btn-success-hover" name="trigger" value="Subscribe">
		                            <!--{if !empty($msg_nl)}--><!--{$msg_nl}--><!--{/if}-->
		                        </form>
		                    </div>

		                </div>
		                <div id="half-base" class="row justify-content-center">
		                    <div class="col-lg-3 col-md-4 footer-links">
		                        <h4>Smart Links</h4>
		                        <ul>
		                            <li><i class="ion-ios-arrow-right"></i> <a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/about">About</a></li>
		                            <li><i class="ion-ios-arrow-right"></i> <a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/faq">F.A.Q</a></li>
		                            <li><i class="ion-ios-arrow-right"></i> <a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/contact">Contact</a></li>
		                            <li><i class="ion-ios-arrow-right"></i> <a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/register">New Registration</a></li>
		                        </ul>
		                    </div>
		                </div>
		            </div>
		        </div>
			<!--{/block}-->
			<!--{block name="footer-base"}-->
			<div class="row no-gutters footer-bottom pb-4">
				<div class="container">
		            <div class="copyright">
		                &copy; Copyright 2020 <strong><!--{$Site.companyName}--></strong>. All Rights Reserved
		            </div>
		            <div class="credits d-none"> Developed by <a class="author-link" target="__blank" href="https://minderstech.com/">Minderstech </a>
		            </div>
		        </div>
			</div>
		       
			<!--{/block}-->
		    </footer><!-- #footer -->
		    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
		<!--{/block}-->
		<!--{include file='script.html'}-->
    </body>
</html>

