<!--{extends file="root.html"}-->
<!--{block name="breadcrumb"}-->
<section class="breadcrumb"><strong class="uppercase">Dasboard |</strong> &nbsp;PROPERTIES&nbsp;<i class="fa fa-building"></i> | Add New Property&nbsp;<i class="fa fa-plus"></i>
</section>
<!--{/block}-->
<!--{block name="content"}-->
<section class="row justify-content-center">
	<div class="col-sm-8">
		<form method="post" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/add_prop" class="w-100" enctype="multipart/form-data">
			<fieldset class="rounded border border-success py-4 px-4">
				<legend class="font-weight-bold text-center">Add A New Property</legend>
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label for="prop_title" class="form-control-label">Property Name / Title</label>
						<input type="text" id="prop_title" name="prop_title" class="form-control form-control-sm badge-pill" required/>
					</div>
					<div class="form-group col-sm-6">
						<label for="prop_number" class="form-control-label">Property Number / Store Number</label>
						<input type="text" id="prop_number" name="prop_number" class="form-control form-control-sm badge-pill" required/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label for="amount" class="form-control-label">Amount / Price (₦)</label>
						<input type="number" id="amount" name="amount" value="" class="form-control form-control-sm badge-pill" />
					</div>
					<div class="form-group col-sm-6">
						<label for="phone_number" class="form-control-label">Contact Number</label>
						<input type="text" id="phone_number" name="phone_number" value="" class="form-control form-control-sm badge-pill" />
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label for="email" class="form-control-label">Contact Email</label>
						<input type="email" id="email" name="email" value="" class="form-control form-control-sm badge-pill" />
					</div>
					<div class="form-group col-sm-6">
						<label for="category" class="form-control-label">Category / Type</label>
						<input type="text" id="category" name="category" class="form-control form-control-sm badge-pill" list="categ" required/>
						<datalist id="categ">
							<!--{if !empty($categories)}-->
								<!--{foreach $categories as $cat}-->
									<option value="<!--{$cat}-->"><!--{$cat}--></option>
								<!--{/foreach}-->
							<!--{/if}-->
						</datalist>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label for="prop_mode" class="form-control-label">Select Property Sales Type</label>
						<select id="prop_mode" name="prop_mode" class="form-control form-control-sm rounded" />
							<option value="for sale">For Sale</option>
							<option value="for rent">For Rent</option>
						</select>
					</div>
					<div class="form-group col-sm-6">
						<label for="url" class="form-control-label">Website URL</label>
						<input type="url" id="url" name="url" value="" class="form-control form-control-sm badge-pill" />
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label for="description" class="form-control-label">Details & Description</label>
						<textarea id="description" name="description" class="form-control form-control-sm input-block" rows="6" required></textarea>
					</div>
					<div class="form-group col-sm-6">
						<label for="otherdetails" class="form-control-label">Specifications</label>
						<textarea id="otherdetails" name="otherdetails" class="form-control form-control-sm input-block" rows="6" ></textarea>
					</div>
				</div>
				<div class="form-row justify-content-center">
					<div class="form-group col-sm-3 text-center">
						<div class="img-scope card-heading pt-3 pb-3">
							<label for="img-upload">
								<img class="img img-thumbnail w-100" id="dataImg" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/default-icon/event-icon.png">
								<data class="text-center jsonly">Upload Photo</data>
							</label>
							<input type="file" accept="image/*" id="img-upload" class="badge-pill w-100" name="img_upload" required/>
							<noscript><button class="text-center" id="ppUpload" name="ppUpload" type="button">Upload Photo</button></noscript>
						</div>
						<span class="small">Property Front/Entry View</span>
					</div>
					<div class="form-group col-sm-3">
						<div class="img-scope card-heading pt-3 pb-3">
							<label for="img-upload1">
								<img class="img img-thumbnail w-100" id="dataImg1" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/default-icon/event-icon.png">
								<data class="text-center jsonly">Upload Photo</data>
							</label>
							<input type="file" accept="image/*" id="img-upload1" class="badge-pill w-100" name="img_upload1"/>
							<noscript><button class="text-center" id="ppUpload" name="ppUpload" type="button">Upload Photo</button></noscript>
						</div>
					</div>
					<div class="form-group col-sm-3">
						<div class="img-scope card-heading pt-3 pb-3">
							<label for="img-upload2">
								<img class="img img-thumbnail w-100" id="dataImg2" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/default-icon/event-icon.png">
								<data class="text-center jsonly">Upload Photo</data>
							</label>
							<input type="file" accept="image/*" id="img-upload2" class="badge-pill w-100" name="img_upload2"/>
							<noscript><button class="text-center" id="ppUpload" name="ppUpload" type="button">Upload Photo</button></noscript>
						</div>
					</div>
					<div class="form-group col-sm-3">
						<div class="img-scope card-heading pt-3 pb-3">
							<label for="img-upload3">
								<img class="img img-thumbnail w-100" id="dataImg3" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/default-icon/event-icon.png">
								<data class="text-center jsonly">Upload Photo</data>
							</label>
							<input type="file" accept="image/*" id="img-upload3" class="badge-pill w-100" name="img_upload3"/>
							<noscript><button class="text-center" id="ppUpload" name="ppUpload" type="button">Upload Photo</button></noscript>
						</div>
					</div>
				</div>
				<!--{if !empty($fail)}-->
					<div class="form-group">
						<!--{$fail}-->
					</div>
				<!--{/if}-->
				<div class="form-group text-center">
					<button class="btn site-bg-1 text-white rounded-0" type="submit" name="add_prop"><i class="fa fa-save"></i> Add Property</button>
				</div>
			</fieldset>
		</form>
	</div>
</section>
<!--{/block}-->