<!--{extends file="root.html"}-->
<!--{block name="breadcrumb"}-->
<section class="breadcrumb"><strong class="uppercase">Dasboard |</strong> <a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/clients">INVESTORS&nbsp;<i class="fa fa-users"></i>&nbsp;</a>| New Investor&nbsp;<i class="fa fa-user-plus"></i></section>
<!--{/block}-->
<!--{block name="content"}-->
<form class="form" method="post" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/add_client" enctype="multipart/form-data" style="width: 100%;">
	<section class="row justify-content-center">
		<h5 class="col-md-12 font-weight-bold text-center">New Investor's Detail</h5>
		<div class="col-md-8">
			<div class="card card-heading py-3">
				<div class="text-center">
					<div class="img-scope">
						<label for="img-upload">
							<img class="img img-thumbnail" id="dataImg" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/icons/user-icon.png">
							<data class="text-center jsonly">Update Photo</data>
						</label>
						<input type="file" accept="image/*" id="img-upload" name="img_upload"/>
						<noscript><button class="text-center" id="ppUpload" name="ppUpload" type="button">Upload Photo</button></noscript>
					</div>
				</div>
			</div>
			<div class="card card-body my-3">
					<!--{if !empty($fail)}-->
						<!--{$fail}-->
					<!--{/if}-->
				<fieldset class="w-100 p-3">
					<legend class="text-center">Personal Information</legend>
                    <div class="form-group mb-3">
                        <label for="refid">Referral Code</label>
                        <input type="text" class="form-control form-control-sm badge-pill" name="refid" id="refid" value="" placeholder="Referral Code" required="">
                    </div>
					<div class="form-group">
						<label for="firstName" class="label">First Name</label>
						<input type="text" id="firstName" name="firstname" class="form-control badge-pill" required />
					</div>
					<div class="form-group">
						<label for="lastName">Last Name</label>
						<input type="text" id="lastName" name="lastname" class="form-control badge-pill" required/>
					</div>
					<div class="form-group">
						<label for="lastName">Other Names</label>
						<input type="text" id="otherName" name="othername" class="form-control badge-pill"/>
					</div>
					<div class="form-group">
						<label for="gender">Gender</label>
						<select name="gender" class="form-control badge-pill" id="gender" required>
							<option value="female">Female</option>
							<option value="male">Male</option>
						</select>
					</div>
					<div class="form-group"><hr/></div>
				</fieldset>
				<fieldset class="w-100 p-3 alert-success1">
					<legend class="text-center">Contact Information</legend>
					<div class="form-group">
						<label for="phone">Phone Number</label>
						<input type="tel" id="phone" name="phone" class="form-control badge-pill"/>
					</div>
						<div class="form-group">
						<label for="address1">Address</label>
						<textarea id="address1" name="address" rows="3" class="form-control rounded"></textarea>
					</div>
					<div class="form-group">
						<label for="country">Country</label>
						<select id="country" name="country" required class="form-control badge-pill">
							<!--{if !empty($countries)}-->
							<!--{foreach $countries as $country}-->
								<option value="<!--{$country->name}-->" <!--{if 'Nigeria'==$country->name}-->selected<!--{/if}-->><!--{$country->name|capitalize}--></option>
							<!--{/foreach}-->
							<!--{/if}-->
						</select>
					</div>
					<div class="form-group"><hr/></div>
				</fieldset>
				<fieldset class="w-100 p-3 alert-warning">
					<legend class="text-center">Investors's Login Detail</legend>
					<div class="form-group">
						<label for="username">Username</label>
						<input type="text" id="username" name="username" class="form-control badge-pill" required/>
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" id="email" name="email" class="form-control text-secondary badge-pill" required/>
					</div>
					<div class="form-row">
						<div class="form-group col-8">
							<label for="password">Password</label>
							<input type="password" id="password" name="password" value="<!--{$genPassword}-->" class="form-control text-secondary badge-pill" required/>
							<span class="small cpassword"></span>
						</div>
						<div class="form-group col-4">
							<label>&nbsp;</label>
							<button class="btn btn-warning btn-sm text-white badge-pill btn-block viewPassword" type="button"><i class="fa fa-eye"></i> View Password</button>
						</div>
						<div class="form-group col-12">
							<button class="btn btn-success1 btn-sm text-white badge-pill genPassword" type="button"><i class="fa fa-code"></i> Generate Password</button> Password: <span class="genedPass"><!--{$genPassword}--></span>
						</div>
					</div>
					<div class="form-group text-center">
						<button class="btn site-bg-1 text-white rounded-0" type="submit" name="add_client"><i class="fa fa-save"></i> Add Investor</button>
					</div>
				</fieldset>
			</div>
		</div>
	</section>
</form>
<!--{/block}-->