<!--{extends file="root.html"}-->
<!--{block name="breadcrumb"}-->
<section class="breadcrumb"><strong class="uppercase">Dasboard |</strong> BIRTH REGISTRATIONS&nbsp;<i class="fa fa-certificate"></i>&nbsp; | Certificate Detail</section>
<!--{/block}-->
<!--{block name="content"}-->
<section class="row justify-content-center">
	<div class="col-sm-10 form-group mb-3">
		<!--{if !empty($fail)}-->
		  <!--{$fail}-->
		<!--{/if}-->
    </div>

	<div class="col-sm-10 form-group mb-3">
        <h6 class="text-center">Under Development</h6>
    </div>
</section>
<!--{/block}-->