<!--{extends file="root.html"}-->
<!--{block name="breadcrumb"}-->
<section class="breadcrumb"><strong class="uppercase">Dasboard |</strong> <a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/clients">INVESTORS&nbsp;<i class="fa fa-users"></i>&nbsp;</a> |&nbsp;Investor&nbsp;<i class="fa fa-user"></i>
</section>
<!--{/block}-->
<!--{block name="content"}-->
	<section class="container-fluid">
        <div class="row justify-content-center">
        	<div class="col-md-7">
        		<div class="card mb-3"><img class="card-img-top img-thumbnail h-400px" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{if !empty($user->userimg)}--><!--{$user->userimg}--><!--{else}-->site/media/i/icons/user-icon.png<!--{/if}-->" alt="<!--{$user->firstname}--> <!--{$user->lastname}-->">
					<div class="card-body">
						<h5 class="card-title alert-success1 p-3"><!--{$user->firstname}--> <!--{$user->middlename}--> <!--{$user->lastname}--></h5>
						<div class="row">
							<div class="col-sm-5">
								<p class="card-text"><span class="font-weight-bold">Username: </span><!--{$user->username}--><br/></p>
								<p class="card-text"><span class="font-weight-bold">Email: </span><!--{$user->email}--><br/></p>
								<p class="card-text"><span class="font-weight-bold">Phone Number: </span><!--{$user->phone}--><br/></p>
								<!--{if in_array( $userinfo->userrole, array('level0','level1')) and  $Site.session.User.userinfo->active==true}-->
								<p class="card-text"><span class="font-weight-bold">Password: </span><!--{base64_decode($user->password)}--><br/></p>
								<!--{/if}-->
							</div>
							<div class="col-sm-7">
								<p class="card-text"><span class="font-weight-bold">Referral URL: </span><!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/signup?id=<!--{$user->refid}--><br/></p>
								<p class="card-text"><span class="font-weight-bold">Referral Code: </span><!--{$user->refid}--><br/></p>
								<p class="card-text"><span class="font-weight-bold">Address: </span><!--{$user->address1}--><br/></p>
								<p class="card-text"><span class="font-weight-bold">Country: </span><!--{$user->country}--><br/></p>
								<p class="card-text"><small class="text-muted"><span class="font-weight-bold">Date Registered: </span><!--{$user->dateadded|date_format}--></small></p>
							</div>
						</div>
					</div>
				</div>
        	</div>
        	<div class="col-md-10 border border-success1 py-2">
				<button class="btn btn-sm btn-success d-none rounded-0" type="button" data-toggle="collapse" data-target="#transactionsInfo" aria-expanded="true" aria-controls="transactionsInfo" id="transactions"><i class="fa fa-list"></i> Transaction History</button>&nbsp;
				<button class="btn btn-sm btn-success rounded-0" type="button" data-toggle="collapse" data-target="#profileInfo" aria-expanded="true" aria-controls="profileInfo" id="profile"><i class="fa fa-vcard"></i> Profile</button>&nbsp;
				<button class="btn btn-sm btn-warning rounded-0" type="button" data-toggle="collapse" data-target="#incomeInfo" aria-expanded="true" aria-controls="incomeInfo" id="income"><i class="fa fa-money"></i> Income & Withdrawal</button>&nbsp;
				<button class="btn btn-sm btn-success1 rounded-0" type="button" data-toggle="collapse" data-target="#withdInfo" aria-expanded="true" aria-controls="withdInfo" id="withd"><i class="fa fa-bank"></i> Network & Referrals</button>&nbsp;
				<!--{if $user->archives>0}-->
					<a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/archives?client=<!--{$user->email}-->" class="btn d-none btn-sm btn-success rounded-0 btn-success-hover mb-1"><i class="fa fa-ellipsis-v"></i> View Transfer History</a>
				<!--{/if}-->
        	</div>
        	<div class="col-md-10 border border-success1 d-none py-2">
        		<h5 class="font-weight-bold text-center"> Payment Outlets</h5>
			    <!--{if !empty($otherPayments)}-->
			      <!--{foreach $otherPayments as $othPay}-->
			        <!--{if $othPay->lastPayment->isExpired==true}-->
			            <button class="btn btn-sm btn-danger mb-2 payOutlet" payid="<!--{$othPay->token}-->" amount="<!--{$othPay->amount}-->" discount="<!--{$othPay->discount}-->" purpose="<!--{$othPay->purpose}-->" type="button" data-toggle="collapse" data-target="#payInfo" aria-expanded="true" aria-controls="payInfo" id="paynow"><i class="fa fa-credit-card"></i> <!--{if !empty($othPay->lastPayment->expired)}-->Kindly Renew Your <!--{$othPay->purpose}--> Payment<!--{else}-->Make Payment for <!--{$othPay->purpose}--> Now<!--{/if}--></button>
			        <!--{/if}--> 
			      <!--{/foreach}--> 
			    <!--{/if}--> 
        	</div>
			<!--{if !empty($fail)}-->
        	<div class="col-md-7">
				<!--{$fail}-->
			</div>
			<!--{/if}-->
            <div class="col-md-11" id="accordion">
            	<div id="incomeInfo" class="collapse mt-2" aria-labelledby="income" data-parent="#accordion">
			    	<fieldset class="rounded border border-success1 py-4 px-4">
				    	<legend class="font-weight-bold text-center">Income & Withdrawal</legend>
	            		<div class="row no-gutters justify-content-center">
	            			<div class="col-sm-6">
						    	<div class="form-group">
						    		<h5><i class="font-weight-bold text-center"><i class="fa fa-money"></i> Total Income</i></h5>
								</div>
	            			</div>
	            			<div class="col-sm-6">
						    	<div class="form-group">
						    		<h5><i class="font-weight-bold text-center"><i class="fa fa-credit-card"></i> Total Withdrawal</i></h5>
								</div>
	            			</div>
	            		</div>
					</fieldset>
            	</div>
            	<div id="withdInfo" class="collapse mt-2" aria-labelledby="withd" data-parent="#accordion">
			    	<fieldset class="rounded border border-success1 py-4 px-4">
				    	<legend class="font-weight-bold text-center">Network & Referral</legend>
	            		<div class="row no-gutters justify-content-center">
	            			<div class="col-sm-6">
						    	<div class="form-group">
						    		<h5><i class="font-weight-bold text-center"><i class="fa fa-sitemap"></i> Total Generation</i></h5>
								</div>
	            			</div>
	            			<div class="col-sm-6">
						    	<div class="form-group">
						    		<h5><i class="font-weight-bold text-center"><i class="fa  fa-users"></i> Total Referred</i></h5>
								</div>
	            			</div>
	            		</div>
					</fieldset>
            	</div>

            	<div id="transactionsInfo" class="collapse mt-2" aria-labelledby="transactions" data-parent="#accordion">
                    <div class="row justify-content-center">
                        <h6 class="col-sm-12 mb-2"><i class="fa fa-list"></i> Transaction History</h6>
						<div class="col-sm-12 table-responsive">
							<!--{if !empty($user->transactions)}-->
							<div id="dataTableId_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
								<table class="table table-striped table-hover table-bordered">
								  <thead class="thead-light">
								    <tr>
								      <th scope="col">#</th>
								      <th scope="col">Transaction ID</th>
								      <th scope="col">Gateway</th>
								      <th scope="col">Purpose</th>
								      <th scope="col">Amount</th>
								      <th scope="col" class="d-none">Discount</th>
								      <th scope="col">Status</th>
								      <th scope="col">Transaction Date</th>
								      <th scope="col"></th>
								    </tr>
								  </thead>
								  <tbody>
								  	<!--{$numCount=1}-->
								  	<!--{foreach $user->transactions as $transaction}-->
								    <tr>
								      <td><!--{$numCount}--></td>
								      <td><!--{$transaction->transid}--></td>
								      <td><!--{$transaction->gateway}--></td>
								      <td><!--{$transaction->purpose}--></td>
								      <td>$ <!--{$transaction->amount}--></td>
								      <td class="d-none"><!--{$transaction->discount}--></td>
								      <td><!--{$transaction->status1}--></td>
								      <td><!--{$transaction->transdate}--></td>
								      <td>
								      	<a class="badge-pill badge-info"  href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/receipt?id=<!--{$transaction->transid}-->"><i class="fa fa-ellipsis-v"></i> Detail</a>
								      </td>
								    </tr>
								  	<!--{$numCount=$numCount+1}-->
									<!--{/foreach}-->
								  </tbody>
								</table>
							</div>
							<!--{else}-->
							<div class="alert alert-info mt-5"><h3 class="alert-heading font-weight-bold text-center pt-2">No record found</h3></div>
							<!--{/if}-->
						</div>
                    </div>
                </div>
            	<div id="recordInfo" class="collapse mt-2" aria-labelledby="record" data-parent="#accordion">
					<div class="row justify-content-center">
                        <h6 class="col-sm-12 mb-2"><i class="fa fa-bank"></i> Stores</h6>
						<div class="col-sm-12 table-responsive">
							<!--{if !empty($user->stores)}-->
							<div id="dataTableId_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
								<!--{include file="paging-top.html"}-->
								<table class="table table-striped table-hover table-bordered">
								  <thead class="thead-light">
								    <tr>
								      <th scope="col">#</th>
								      <th scope="col"></th>
								      <th scope="col">STORE NUMBER</th>
								      <th scope="col">DATE ADDED</th>
								      <th scope="col">SHOWING STATUS</th>
								      <th scope="col"></th>
								    </tr>
								  </thead>
								  <tbody>
								  	<!--{$numCount=1}-->
								  	<!--{foreach $user->stores as $store}-->
								    <tr>
								      <td><!--{$numCount}--></td>
								      <td><img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{if !empty($store->images) and is_array($store->images)}--><!--{$store->images[0]}--><!--{else}-->site/media/i/new-imgs/backgrounds/background-4.jpg<!--{/if}-->" class="img-thumbnail" style="height: 100px;" alt="<!--{$store->store_title}-->"><br/><!--{$store->store_title}--></td>
								      <td><!--{$store->store_number}--></td>
								      <td><!--{$store->dateadded}--></td>
								      <td><!--{if $store->show=='0'}--><i class="badge badge-pill badge-warning">hidden</i><!--{elseif $store->show=='1'}--><i class="badge badge-pill badge-success">showing</i><!--{/if}--></td>
								      <td>
										<a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/store?id=<!--{$store->token}-->" class="btn btn-sm btn-success rounded-0 btn-success-hover"><i class="fa fa-ellipsis-v"></i> DETAIL</a>
										<!--{if $store->show!='1'}-->
											<a class="btn btn-sm btn-success rounded-0 confirmTrig" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/stores?id=<!--{$store->token}-->&evt=show" what='show this record to website visitors'><i class="fa fa-check-circle"></i> Show</a>
										<!--{/if}-->
										<!--{if $store->show!='0'}-->
											<a class="btn btn-sm btn-warning rounded-0 confirmTrig" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/stores?id=<!--{$store->token}-->&evt=hide" what='hide this record from website visitors'><i class="fa fa-times-circle"></i> Hide</a>
										<!--{/if}-->
										<a class="btn btn-sm btn-danger rounded-0 confirmTrig" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/stores?id=<!--{$store->token}-->&evt=delete" what='delete this record from the system'><i class="fa fa-trash"></i> Delete</a>
								      </td>
								    </tr>
								  	<!--{$numCount=$numCount+1}-->
									<!--{/foreach}-->
								  </tbody>
								</table>
								<!--{include file="paging-bottom.html"}-->
							</div>
							<!--{else}-->
							<div class="alert alert-info mt-5"><h3 class="alert-heading font-weight-bold text-center pt-2">No registered stores yet</h3></div>
							<!--{/if}-->
						</div>
					</div>
            	</div>
            	<div id="payInfo" class="collapse mt-2" aria-labelledby="paynow" data-parent="#accordion">
            		<div class="row no-gutters justify-content-center">
            			<div class="col-sm-6">
						    <form method="post" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/user?id=<!--{$user->email}-->" class="w-100" enctype="multipart/form-data">
						    	<fieldset class="rounded border border-success py-4 px-4">
							    	<legend class="font-weight-bold text-center">Make Payment Now</legend>
							    	<div class="form-group">
										<label for="ptitle" class="control-label">Payment for :</label>
										<input type="text" class="form-control form-control-sm" id="ptitle" name="ptitle" value="" readonly required>
										<input type="hidden" name="payid" id="payid" value="">
									</div>
							    	<div class="form-group">
										<label for="amount" class="control-label">Amount:</label>
										<input type="text" class="form-control form-control-sm" id="amount" name="amount" readonly required>
									</div>
							    	<div class="form-group">
										<label for="discount" class="control-label">Discount:</label>
										<input type="text" class="form-control form-control-sm" id="discount" name="discount" readonly required>
									</div>
							    	<div class="form-group">
										<label for="transid" class="control-label">Transaction / Receipt Number:</label>
										<input type="text" class="form-control form-control-sm" id="transid" name="transid" required>
									</div>
							    	<div class="form-group">
										<div class="img-scope-landscape card-heading pt-3 pb-3">
											<label for="img-upload1">
												<img class="img img-thumbnail w-100" id="dataImg1" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/new-imgs/receipt.png">
												<data class="text-center jsonly">Upload Payment Proof</data>
											</label>
											<input type="file" accept="image/*" id="img-upload1" class="badge-pill w-100" name="img_upload"/>
										</div>
									</div>
							    	<div class="form-group text-center">
							    		<button class="btn btn-sm btn-info" type="submit" name="pay" value="admin"><i class="fa fa-credit-card"></i> Make Payment Now</button> 
							    	</div>
							    </fieldset>
							</form>
						</div>
            		</div>
            	</div>
            </div>
        </div>
    </section>
<!--{/block}-->