<!--{extends file="root.html"}-->
<!--{block name="breadcrumb"}-->
<section class="breadcrumb"><strong class="uppercase">Dasboard |</strong> BIRTH REGISTRATIONS&nbsp;<i class="fa fa-certificates"></i>&nbsp; | New Registration</section>
<!--{/block}-->
<!--{block name="content"}-->
<section class="row justify-content-center">
    <div class="card col-sm-10 my-5 float-left p-3" id="logn-frame">
        <form method="post" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/registered-manual">
            <fieldset class="card p-4 mt-3">
                <legend class="text-center mb-4"><h3 class="font-weight-bold"><i class="fa fa-certificate"></i> Birth Registration Form</h3></legend>
                <!--{if !empty($fail)}-->
                    <div class="form-group m-1">
                        <div class="alert alert-info alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> 
                            <!--{$fail}-->
                        </div>
                    </div>
                <!--{/if}-->
                <div class="form-row">
                    <div class="col-sm-12"><h5 class="text-center">Birth Center</h5></div>
                    <div class="form-group col-sm-6 mb-3">
                        <label for="center">Registration Center</label>
                        <input type="text" class="form-control form-control-sm badge-pill" name="center" id="center" value="" placeholder="Registration Center">
                    </div>
                    <div class="form-group col-sm-6 mb-3">
                        <label for="register_volume">Register Volume</label>
                        <input type="text" class="form-control form-control-sm badge-pill" name="register_volume" id="register_volume" value="" placeholder="Register Volume">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-6 mb-3">
                        <label for="town">Town / Village</label>
                        <input type="text" class="form-control form-control-sm badge-pill" name="town" id="town" value="" placeholder="Town / Village">
                    </div>
                    <div class="form-group col-sm-6 mb-3">
                        <label for="entry_number">Entry Number</label>
                        <input type="text" class="form-control form-control-sm badge-pill" name="entry_number" id="entry_number" value="" placeholder="Entry Number">
                    </div>
                </div>
                <div class="form-row justify-content-center mb-3">
                    <div class="form-group col-sm-6">
                        <label for="lga">Local Government Area</label>
                        <input type="text" class="form-control form-control-sm badge-pill" id="lga" name="lga" placeholder="Local Government Area" value="">
                    </div>
                    <div class="form-group col-sm-6 mb-3">
                        <label for="date_of_registraton">Date of Registration</label>
                        <div class="row">
                            <div class="col-4">
                                <input type="text" class="form-control form-control-sm badge-pill" id="reg_day" name="reg_day" placeholder="Day" value="" required="">
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control form-control-sm badge-pill" id="reg_month" name="reg_month" placeholder="Month" value="" required="">
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control form-control-sm badge-pill" id="reg_year" name="reg_year" placeholder="Year" value="" required="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="state">State</label>
                    <select class="form-control form-control-sm badge-pill" id="state" name="state" placeholder="State" required="">
                        <!--{if !empty($states)}-->
                        <!--{foreach $states as $state}-->
                            <option value="<!--{$state->name}-->"><!--{$state->name|capitalize}--></option>
                        <!--{/foreach}-->
                        <!--{/if}-->
                    </select>
                </div>
                <h5 class="text-center">Particulars of Child</h5>
                <div class="form-group text-justify mb-3">
                    <label for="child_name">Child Name</label>
                    <div class="row">
                        <div class="col-4">
                            <input type="text" class="form-control form-control-sm badge-pill" id="child_surname" name="child_surname" placeholder="Surname" required="">
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control form-control-sm badge-pill" id="child_firstname" name="child_firstname" placeholder="First Name" required="">
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control form-control-sm badge-pill" id="child_other_name" name="child_other_name" placeholder="Middle Name" required="">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-6 text-justify mb-3">
                        <label for="child_date">Date of Birth</label>
                        <div class="row">
                            <div class="col-4">
                                <input type="text" class="form-control form-control-sm badge-pill" id="child_birth_day" name="child_birth_day" placeholder="Day" required="">
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control form-control-sm badge-pill" id="child_birth_month" name="child_birth_month" placeholder="Month" required="">
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control form-control-sm badge-pill" id="child_birth_year" name="child_birth_year" placeholder="Year" required="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 text-justify mb-3">
                        <label for="sex">Sex</label>
                        <select id="sex" name="sex" placeholder="Sex" class="form-control form-control-sm badge-pill" required>
                            <option value="male">Male</option>
                            <option value="female">Femaile</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-6 text-justify mb-3">
                        <label for="place_of_birth">Place of Birth</label>
                        <select id="place_of_birth" name="place_of_birth" placeholder="Place of Birth" class="form-control form-control-sm badge-pill" required>
                            <option value="hospital">Hospital</option>
                            <option value="maternity home">Maternity Home</option>
                            <option value="at home">At Home</option>
                            <option value="traditional doctor's place">Traditional Doctor's Place</option>
                            <option value="others">Others</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6 text-justify mb-3">
                        <label for="town_village">Village / Town</label>
                        <input type="text" id="town_village" name="town_village" placeholder="Town / Village" class="form-control form-control-sm badge-pill" required="">
                    </div>
                </div>
                <h5 class="text-center">Particulars of Mother</h5>
                <div class="form-group text-justify mb-3">
                    <label for="mother_name">Mother's Name</label>
                    <div class="row">
                        <div class="col-6">
                            <input type="text" class="form-control form-control-sm badge-pill" id="mother_surname" name="mother_surname" placeholder="Surname" required="">
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control form-control-sm badge-pill" id="mother_firstname" name="mother_firstname" placeholder="First Name" required="">
                        </div>
                    </div>
                </div>
                <div class="form-group text-justify mb-3">
                    <label for="mother_place_of_residence">Place of Residence</label>
                    <input type="text" id="mother_place_of_residence" name="mother_place_of_residence" placeholder="Place of Residence" class="form-control form-control-sm badge-pill" required="">
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-6 text-justify mb-3">
                        <label for="mother_age">Age at Birth of Child</label>
                        <input type="number" id="mother_age" name="mother_age" placeholder="Age At Birth of Child" class="form-control form-control-sm badge-pill" required="">
                    </div>
                    <div class="form-group col-sm-6 text-justify mb-3">
                        <label for="mother_marital_status">Marital Status</label>
                        <select id="mother_marital_status" name="mother_marital_status" placeholder="Marital Status" class="form-control form-control-sm badge-pill" required>
                            <option value="single">Single</option>
                            <option value="married">Married</option>
                            <option value="separated">Separated</option>
                            <option value="divorced">Divorced</option>
                            <option value="widow">Widow</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-6 text-justify mb-3">
                        <label for="mother_nationality">Nationality</label>
                        <select id="mother_nationality" name="mother_nationality" placeholder="Nationality" class="form-control form-control-sm badge-pill" required>
                            <option value="nigerian">Nigerian</option>
                            <option value="non-nigerian">Non Nigerian</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6 text-justify mb-3">
                        <label for="mother_ethicity">If Nigerian</label>
                        <div class="row">
                            <div class="col-6">
                                <select class="form-control form-control-sm badge-pill" id="mother_state" name="mother_state" placeholder="State of Origin" required="">
                                    <option value="others">Select State of Origin</option>
                                    <!--{if !empty($states)}-->
                                    <!--{foreach $states as $state}-->
                                        <option value="<!--{$state->name}-->"><!--{$state->name|capitalize}--></option>
                                    <!--{/foreach}-->
                                    <!--{/if}-->
                                </select>
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control form-control-sm badge-pill" id="mother_ethnic" name="mother_ethnic" placeholder="Ethnic of Origin">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-6 text-justify mb-3">
                        <label for="mother_literacy">Literacy</label>
                        <select id="mother_literacy" name="mother_literacy" placeholder="Literacy" class="form-control form-control-sm badge-pill" required>
                            <option value="literate">Literate</option>
                            <option value="illiterate">Illiterate</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6 text-justify mb-3">
                        <label for="mother_level_of_education">Level of Education <small>if literate</small></label>
                        <input type="text" id="mother_level_of_education" name="mother_level_of_education" placeholder="Level of Education" class="form-control form-control-sm badge-pill">
                    </div>
                </div>
                <h5 class="text-center">Particulars of Father</h5>
                <div class="form-group text-justify mb-3">
                    <label for="father_name">Father's Name</label>
                    <div class="row">
                        <div class="col-6">
                            <input type="text" class="form-control form-control-sm badge-pill" id="father_surname" name="father_surname" placeholder="Surname">
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control form-control-sm badge-pill" id="father_firstname" name="father_firstname" placeholder="First Name">
                        </div>
                    </div>
                </div>
                <div class="form-group text-justify mb-3">
                    <label for="father_place_of_residence">Place of Residence</label>
                    <input type="text" id="father_place_of_residence" name="father_place_of_residence" placeholder="Place of Residence" class="form-control form-control-sm badge-pill">
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-6 text-justify mb-3">
                        <label for="father_age">Age at Birth of Child</label>
                        <input type="text" id="father_age" name="father_age" placeholder="Age At Birth of Child" class="form-control form-control-sm badge-pill">
                    </div>
                    <div class="form-group col-sm-6 text-justify mb-3">
                        <label for="father_marital_status">Marital Status</label>
                        <select id="father_marital_status" name="father_marital_status" placeholder="Marital Status" class="form-control form-control-sm badge-pill">
                            <option value="single">Single</option>
                            <option value="married">Married</option>
                            <option value="separated">Separated</option>
                            <option value="divorced">Divorced</option>
                            <option value="widower">Widower</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-6 text-justify mb-3">
                        <label for="father_nationality">Nationality</label>
                        <select id="father_nationality" name="father_nationality" placeholder="Nationality" class="form-control form-control-sm badge-pill">
                            <option value="nigerian">Nigerian</option>
                            <option value="non-nigerian">Non Nigerian</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6 text-justify mb-3">
                        <label for="father_ethicity">If Nigerian</label>
                        <div class="row">
                            <div class="col-6">
                                <select class="form-control form-control-sm badge-pill" id="father_state" name="father_state" placeholder="State of Origin">
                                    <option value="others">Select State of Origin</option>
                                    <!--{if !empty($states)}-->
                                    <!--{foreach $states as $state}-->
                                        <option value="<!--{$state->name}-->"><!--{$state->name|capitalize}--></option>
                                    <!--{/foreach}-->
                                    <!--{/if}-->
                                </select>
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control form-control-sm badge-pill" id="father_ethnic" name="father_ethnic" placeholder="Ethnic of Origin">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-6 text-justify mb-3">
                        <label for="father_literacy">Literacy</label>
                        <select id="father_literacy" name="father_literacy" placeholder="Literacy" class="form-control form-control-sm badge-pill">
                            <option value="literate">Literate</option>
                            <option value="illiterate">Illiterate</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6 text-justify mb-3">
                        <label for="father_level_of_education">Level of Education <small>if literate</small></label>
                        <input type="text" id="father_level_of_education" name="father_level_of_education" placeholder="Level of Education" class="form-control form-control-sm badge-pill">
                    </div>
                </div>
                <h5 class="text-center">Particulars of Informant / Guardian</h5>
                <div class="form-group text-justify mb-3">
                    <label for="informant_email">Informant's Active Email</label>
                    <input type="text" id="informant_email" name="informant_email" placeholder="Informat's Active Email" class="form-control form-control-sm badge-pill">
                </div>
                <div class="form-group text-justify mb-3">
                    <label for="informant_relationship_to_child">Relationship to Child</label>
                    <input type="text" id="informant_relationship_to_child" name="informant_relationship_to_child" placeholder="Relationship to Child" class="form-control form-control-sm badge-pill">
                </div>
                <div class="form-group text-justify mb-3">
                    <label for="informant_name">Full Name</label>
                    <div class="row">
                        <div class="col-6">
                            <input type="text" class="form-control form-control-sm badge-pill" id="informant_surname" name="informant_surname" placeholder="Surname">
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control form-control-sm badge-pill" id="informant_firstname" name="informant_firstname" placeholder="First Name">
                        </div>
                    </div>
                </div>
                <div class="form-group text-justify mb-3">
                    <label for="informant_place_of_residence">Place of Residence</label>
                    <input type="text" id="informant_place_of_residence" name="informant_place_of_residence" placeholder="Place of Residence" class="form-control form-control-sm badge-pill">
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-success btn-block badge-pill" type="submit" name="register" value="register">Add Detail</button>
                </div>
            </fieldset>
        </form>
    </div>
</section>
<!--{/block}-->